/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "vendor/bootstrap/mixins";
@import "variables";

@import url("http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700");


/**
   * Apply the .container class from Bootstrap
   */
@mixin make-container-fluid {
  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


body {
  background-image: url('../images/guerilla_kochbuch_bg_content-typ1.jpg');
  background-position: center 0px;
  background-repeat: none;

  font-family: 'PT Serif', serif;
  font-size: 20px;
  line-height: 30px;


  h2 {
    font-family: 'Stardos Stencil', cursive;

    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 20px;

    text-shadow: 1px 2px 2px #000000;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;

    text-shadow: 1px 2px 4px #000000;
  }

  #mainframe {
    header {
      @include make-container-fluid;

      .logo {
        h1 {
          display: none;
        }

        img {
          height: 200px;
          width: 200px;
        }
        text-align: center;
        //Change size of the logo if the page is printed
      }

      #flame-animation {
        display: none;
      }
    }

    nav {

      padding-bottom: 20px;

      ul {
        @include make-row();
        $nav-item-lg-height: 200px;

        //Global properties for alle entrys in the nav
        li {
          position: relative;

          height: 200px; // Default height
          //padding-top: $nav-item-lg-height/2-$line-height-computed; // Default padding

          text-align: center;
          background-size: cover;
          background-repeat: no-repeat;

          -webkit-box-shadow: 0 5px 10px 0 #080808;
          box-shadow: 0 5px 10px 0 #080808;
          margin-bottom: 20px;

          span {
            font-family: 'Stardos Stencil', cursive;
            font-size: 35px;
            color: white;

            position: absolute;
            bottom: 20px;
            left: 20px;

            text-align: left;

            display: block;
          }

          //Handy, Small-Device
          @media (max-width: $screen-sm-min) {
            height: $nav-item-lg-height/2;
            padding-top: $nav-item-lg-height/4-$line-height-computed;
          }

          &#navi-container-long {
            background-image: url('../images/guerilla_kochbuch_navi-container-long.jpg');

            @media (min-width: $screen-md-min) {
              height: 400px;
              background-position: center;
            }
          }
          &#navi-container-small1 {
            background-image: url('../images/guerilla_kochbuch_navi-container-long.jpg');
          }
          &#navi-container-small2 {
            background-image: url('../images/guerilla_kochbuch_navi-container-long.jpg');
          }
          &#navi-container-small3 {
            background-image: url('../images/guerilla_kochbuch_navi-container-long.jpg');
          }
        }

        //The big nav
        &.big {
          li {
            @include make-lg-column(12, 0); // 0 padding, because the li element don't accepts any other
          }
        }

        //The small nav
        &.small {
          li {
            @include make-md-column(4, 0);
            @include make-lg-column(4, 0); // 0 padding, because the li element don't accepts any other
          }
        }
      }
    }

    section {
      text-shadow: 1px 2px 2px #000000;

      &.contain-typ-1 {
        padding-top: 20px;

        article {
          padding-top: 20px;
          padding-bottom: 30px;

          h2 {
            line-height: 30px;
          }

          p {
            font-size: 25px;
            line-height: 35px;
          }
        }
      }

      &.content-typ-2 {
        padding-top: 30px;
        padding-bottom: 30px;

        background-image: url('../images/guerilla_kochbuch_bg_content-typ2.jpg');
        background-position: center top;

        article {

          @media (max-width: $screen-sm-min) {
            padding-left: 20px;
            padding-right: 20px;
          }
        }

        h2 {
          color: #7d0d0d;
           text-transform: uppercase;
        }

        h3 {
          font-family: 'Stardos Stencil', cursive;
          font-size: 28px;
        }

        .makings {
          padding-left: 20px;
          list-style-image: url('../images/guerilla_kochbuch_listicon.svg');
        }

      }
    }

    /**
    * Contains all styles for a simple article
    *
    */
    article {
      @include make-container-fluid;

      padding-bottom: 30px;
      color: white;

      //Content
      .right {
        @include make-xs-column(12, 0);
        @include make-sm-column(12, 0);
        @include make-md-column(7, 0);
        @include make-lg-column(7, 0);
      }

      .left {
        @include make-md-column(5, 0);
        @include make-lg-column(5, 0);

        //Responsive image width
        /**
        *
        * Example for lg screens: $container-lg/$grid-columns*3-10 =>   1200  /   12  *   3                   -10
        *                                                              [Column width ]    emmit make-row(3)   Because some place for margin
        */
        img {
          //width: 80%;

          &.content-icon-fist {
            display: block;
            margin-left: auto;
            margin-right: auto;

            opacity: .9;

            @media (max-width: $screen-sm-max) {
              width: 40%;
              margin-left: auto;
              margin-right: auto;
              display: block;
              margin-bottom: 20px;
            }
          }

          @media (min-width: $screen-sm-min) {
            max-width: $container-sm/$grid-columns*3-10;
          }
          @media (min-width: $screen-md-min) {
            max-width: $container-md/$grid-columns*3-10;
          }
          @media (min-width: $screen-lg-min) {
            max-width: $container-lg/$grid-columns*3-10;

          }
        }
      }

      //Image or some other aditional information
      aside {
        margin: 0px;

        .recipes  {
          width: 80%;
          -webkit-box-shadow: 0 5px 10px 0 #080808;
          box-shadow: 0 5px 10px 0 #080808;

          @media (max-width: $screen-sm-max) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
        }
      }
    }



    /**
    * Style for separation line
    */
    .separator-star {
      width: 100%;
      height: 15px;
      background-color: $guerilla-separator-star-bg;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        position: relative;
        top: -25px
      }
    }
    
  }
}